<div class="post item-1">
    <a class="entry-thumbnail" href="/blog/{{this.slug}}"
        title="{{this.title}}"><span class="thumbnail pbt-lazy"
            data-src="/images/{{this.thumb}}" style="background-image:url('/images/{{this.thumb}}')"></span>
    </a>
    <div class="entry-header">
        <h2 class="entry-title"><a
                href="/blog/{{this.slug}}">{{this.title}}</a></h2>
        <div class="entry-meta"><span class="entry-time"><time class="published"
                    datetime=""></time></span></div>
    </div>
</div>