<article class="post hentry item-0">
    <a class="entry-thumbnail"
        href="/blog/{{this.slug}}"
        title="{{this.title}}"><span class="thumbnail pbt-lazy"
            data-src="/images/{{this.thumb}}" style="background-image:url('/images/{{this.thumb}}')"></span></a>
    <div class="entry-header">
        <a href="/blog/category/{{this.cat_slug}}"><span class="entry-tag">{{this.name}}</span></a>
        <h2 class="entry-title"><a
                href="/blog/{{this.slug}}"
                rel="bookmark">{{this.title}}</a></h2>
        <p class="entry-excerpt excerpt"></p>
        <div class="entry-meta">
            <span class="entry-author"><span class="author-name"></span></span>
            <span class="entry-time"><span class="sp"></span><time class="published"
                    datetime="2022-04-12T11:44:00-07:00"></time></span>
        </div>
    </div>
</article>
