<div class="post item-1">
    <a class="entry-thumbnail" href="/fr/articles/{{this.fr_slug}}"
        title="{{this.fr_title}}"><span class="thumbnail pbt-lazy"
            data-src="/images/{{this.fr_thumb}}" style="background-image:url('/images/{{this.fr_thumb}}')"></span>
    </a>
    <div class="entry-header">
        <h2 class="entry-title"><a href="/fr/articles/{{this.fr_slug}}">{{this.fr_title}}</a></h2>
        <div class="entry-meta"><span class="entry-time"><time class="published"
                    datetime=""></time></span></div>
    </div>
</div>