<div class="post cs item-1">
    <a class="entry-inner" href="/fr/articles/{{this.fr_slug}}"
        title="{{this.fr_title}}">
        <span class="entry-thumbnail"><span class="thumbnail pbt-lazy"
                style="background-image:url('/images/{{this.fr_thumb}}');"></span></span>
        <span class="entry-tag text-capitalize">{{this.fr_name}}</span>
        <div class="entry-header">
            <h2 class="entry-title">{{this.fr_title}}
            </h2>
            <div class="entry-meta"><span class="entry-author"><span class="author-name"></span></span><span class="entry-time"><span class="sp"></span><time class="published"
                        datetime=""></time></span></div>
        </div>
    </a>
</div>

