<div class="post item-1">
    <a class="entry-thumbnail" href="/sp/articulos/{{this.sp_slug}}"
        title="{{this.sp_title}}"><span class="thumbnail pbt-lazy"
            data-src="/images/{{this.sp_thumb}}" style="background-image:url('/images/{{this.sp_thumb}}')"></span>
    </a>
    <div class="entry-header">
        <h2 class="entry-title"><a
                href="/sp/articulos/{{this.sp_slug}}">{{this.sp_title}}</a></h2>
        <div class="entry-meta"><span class="entry-time"><time class="published"
                    datetime=""></time></span></div>
    </div>
</div>