<section class="content-wrap flex-c top-space" style="margin-bottom:60px;">
    <div class="container row-x1 flex-sb" style="transform: none;">
        <main class="main-wrap" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

            <div class="pbtStickySidebar"
                style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                <div class="main section" id="main" name="Latest Posts">
                    <div class="widget Blog index-blog flex-col" data-version="2" id="Blog1">
                        <span>
                            <h1 class="h2">The Book of {{book_name}}, Chapter {{chapter}}</h1>
                            <p>(New International Version)</p>
                        </span>

                        <div class="content-body">
                            {{#each verses}}
                            <p class="verse">{{this.verse}}</p>
                            {{/each}}

                            <div class="d-flex justify-content-between mt-3">
                                {{#if prev_chapter}}
                                <div>
                                    <a href="/bible/{{slug}}/{{prev_chapter}}" class=""><i class="fa fa-arrow-left"></i> Prev</a>
                                    <p class="small">chapter {{prev_chapter}}</p>
                                </div>
                                {{else}}
                                <div></div>
                                {{/if}}
                                {{#if next_chapter}}
                                <div>
                                    <a href="/bible/{{slug}}/{{next_chapter}}" class="">Next <i class="fa fa-arrow-right"></i></a>
                                    <p class="small">chapter {{next_chapter}}</p>
                                </div>
                                {{else}}
                                <div></div>
                                {{/if}}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </main>
        <aside class="sidebar-wrap"
            style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

            <div class="pbtStickySidebar"
                style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                <div class="sidebar pbt-s section" id="sidebar" name="Sidebar">
                    <div class="widget PopularPosts" data-version="2" id="PopularPosts1">
                        <div class="title-wrap widget-title">
                            <h3 class="title">Popular Articles</h3>
                        </div>
                        <div class="widget-content">
                            <div class="popular-items">
                                <div class="popular-list">
                                    {{#each popular_posts}}
                                    {{>blog_lat}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</section>