<div id="post-header" class="page-header">
    <div class="background-img" style="background-image: url('img/post-page1.jpg');"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="post-meta">
                    <a class="<%= 'post-category text-capitalize post-category'+cat_info.color %>" href="#"><%= cat_info.name  %></a>
                </div>
                <h1><%- 'Christian '+cat_info.name  %></h1>
            </div>
        </div>
    </div>
</div>
<div class="section"></div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <div class="row">

                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="blog-post.html"><img src="img/post-1.jpg" alt></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-4" href="category.html">Css</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">CSS Float: A Tutorial</a></h3>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="blog-post.html"><img src="img/post-2.jpg" alt></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-1" href="category.html">Web Design</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And
                                        Development Tools</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix visible-md visible-lg"></div>

                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="blog-post.html"><img src="img/post-4.jpg" alt></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-2" href="category.html">JavaScript</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects Against
                                        JavaScript-Based CPU Side-Channel Attacks</a></h3>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="blog-post.html"><img src="img/post-5.jpg" alt></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-3" href="category.html">Family & Marriage</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                        JQuery?</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix visible-md visible-lg"></div>

                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="blog-post.html"><img src="img/post-3.jpg" alt></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-1" href="category.html">Scripture</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Pagedraw UI Builder Turns Your
                                        Website Design Mockup Into Code Automatically</a></h3>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="blog-post.html"><img src="img/post-4.jpg" alt></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-2" href="category.html">Love & Relationship</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects Against
                                        JavaScript-Based CPU Side-Channel Attacks</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="blog-post.html"><img src="img/post-1.jpg" alt></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-4" href="category.html">Css</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">CSS Float: A Tutorial</a></h3>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href="blog-post.html"><img src="img/post-2.jpg" alt></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-1" href="category.html">Web Design</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And
                                        Development Tools</a></h3>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix visible-md visible-lg"></div>

                </div>
                <div class="section">
                    <div class="main-post">
                        <h2>relationship & family</h2>
                        <p>Do you like Cheese Whiz? Spray tan? Fake eyelashes? That's what is Lorem Ipsum to many—it
                            rubs them the wrong way, all the way. It's unreal, uncanny, makes you wonder if
                            something is wrong, it seems to seek your attention for all the wrong reasons. Usually,
                        </p>
                        <p>
                            we prefer the real thing, wine without sulfur based preservatives, real butter, not
                            margarine, and so we'd like our layouts and designs to be filled with real words, with
                            thoughts that count, information that has value.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">


                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="img/ad-1.jpg" alt>
                    </a>
                </div>

                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Catagories</h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            <% categories.forEach(category => { %>
                                <li><a href="<%= '/blog/category/'+category.slug %>" class="<%= 'text-capitalize '+category.color %>"><%= category.name %><span><%= category.posts %></span></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>

                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="img/ad-1.jpg" alt>
                    </a>
                </div>



            </div>
        </div>

    </div>

</div>


<div class="section section-grey">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Related Books</h2>
                </div>
            </div>

            <div class="col-md-4">
                <div class="post">
                    <a class="post-img" href="blog-post.html"><img src="img/post-4.jpg" alt></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-2" href="category.html">JavaScript</a>
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects Against
                                JavaScript-Based CPU Side-Channel Attacks</a></h3>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="post">
                    <a class="post-img" href="blog-post.html"><img src="img/post-5.jpg" alt></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-3" href="category.html">Jquery</a>
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use JQuery?</a>
                        </h3>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="post">
                    <a class="post-img" href="blog-post.html"><img src="img/post-3.jpg" alt></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-1" href="category.html">Web Design</a>
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Pagedraw UI Builder Turns Your Website
                                Design Mockup Into Code Automatically</a></h3>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-md-3">

                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="img/ad-1.jpg" alt>
                    </a>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>Recommended Post</h2>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="post post-row">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects Against
                                    JavaScript-Based CPU Side-Channel Attacks</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="post post-row">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="category.html">JavaScript</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
                                    The Backend Development Block!</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="post post-row">
                            <div class="post-meta">
                                <a class="post-category cat-4" href="category.html">Css</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">CSS Float: A Tutorial</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="post post-row">
                            <div class="post-meta">
                                <a class="post-category cat-3" href="category.html">Jquery</a>
                                <span class="post-date">March 27, 2018</span>
                            </div>
                            <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
                                    JQuery?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
                        </div>
                    </div>

                    <!--div class="col-md-12">
                        <div class="section-row">
                            <button class="primary-button center-block">Load More</button>
                        </div>
                    </div-->
                </div>
            </div>
            <div class="col-md-3">

                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="img/ad-1.jpg" alt>
                    </a>
                </div>

            </div>
        </div>

    </div>

</div>