
<div class="section">

    <div class="container">

        <div class="row">
            
            <div class="col-md-8">
                <div class="section">
                    <div class="main-post">
                        <h1><%= blog.title %></h1>
                        <figure class="figure-img w-80">
                            <img class="img-responsive" src="<%= '../img/'+blog.thumb %>" alt>
                            <!--figcaption>So Lorem Ipsum is bad (not necessarily)</figcaption-->
                        </figure>
                        <%- blog.body %>
                       
                    </div>
                    <div class="post-shares sticky-shares">
                        <a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="share-google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="share-pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="share-linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>

                <div class="section-row text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="../img/ad-2.jpg" alt>
                    </a>
                </div>


                <!--div class="section-row">
                    <div class="post-author">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="../img/author.png" alt>
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h3>John Doe</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                                <ul class="author-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div-->
            </div>


            <div class="col-md-4">

                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="../img/ad-1.jpg" alt>
                    </a>
                </div>


                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Catagories</h2>
                    </div>
                    <div class="category-widget">
                        <ul>
                            <% categories.forEach(category => { %>
                                <li><a href="<%= '/blog/category/'+category.slug %>" class="<%= 'text-capitalize '+category.color %>"><%= category.name %><span><%= category.posts %></span></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>

                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="../img/ad-1.jpg" alt>
                    </a>
                </div>
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="../img/ad-1.jpg" alt>
                    </a>
                </div>

            </div>

        </div>

    </div>

</div>

<div class="section section-grey">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>You may Like</h2>
                </div>
            </div>

            <% blogs.forEach(element => { %>
                <div class="col-md-4">
                    <div class="post">
                        <a class="post-img" href="<%= '/blog/'+element.slug %>"><img src="<%= '/img/blogs/'+element.thumb %>" alt></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="<%= 'post-category '+element.color %> " href="<%= '/blog/category/'+element.cat_slug %>"><%= element.name %></a>
                                <span class="post-date"><%= element.created_at %></span>
                            </div>
                            <h3 class="post-title"><a href="<%= '/blog/'+element.slug %>"><%= element.title %></a></h3>
                        </div>
                    </div>
                </div>
                <% }) %>

        </div>

    </div>

</div>